header {
  background: #e1e4e5;
}

h1 {
  margin: 0;
  font-size: xx-large;
  font-weight: bold;
  padding: 40px;
  text-align: center;
}

hr {
  border: none;
  height: 20px;
  margin: 0;
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.largo {
  grid-column: span 3;
}

